<!-- views/dash.handlebars -->
{{#if user}}
    <div class="jumbotron">
        <h2>Current week: {{week}}
        <p>I don't always say es ok, but when I do, es ok</p>
    </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">The Girls</h3>
    </div>
    <div class="panel-body">
    <div id="contestants" class="row row-centered">
    <img src="/images/heart.svg" id="loading-indicator" style="display:none" />
    </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"    type="text/javascript"></script>
    <script id="contestant-template" type="text/x-handlebars-template">
          <div class="col-xs--6 col-md-3 col-centered">
            <h4>\{{name}}
            \{{#if eliminated}}
                <span class="label label-danger">Eliminated</span></h4>
            \{{else}}
                <span class="label label-success">Active</span></h4>
            \{{/if}}
            <span class="text-muted">
                <h5>Points: \{{points}}</h5>
            </span>
            <img src="/images/\{{image}}" width="200">
            <br><br><br>
          </div>
    </script>
    <script id="getContestants" src="js/getContestants.js" containerId="contestants" type="text/javascript"></script>
  </div>
  <hr>
  <footer><p>Any association with PrinceFarming is purely coincidential.  This is a "fan" work.</p></footer>
{{else}}
  <div class="jumbotron">
    <h1><img src="/images/rose.png" eight="100">The Fantasy Rose</h1>
    <h2><small>Step 1 </small>Grab your friends</h2>
    <h2><small>Step 2 </small>Bid for your team</h2>
    <h2><small>Step 3 </small>Watch as s*** hits the fan</h2>
    <br>
    <p>There's the final rose, and then there's the Fantasy Rose.  Join up with your friends to play a fantasy-football-esque game that will keep you watching every juicy, drama-saturated moment.</p>
    <p>Sign in and view your profile!</p>
    <div class="alert alert-danger" role="alert"><strong>This project is under active development and is not fully functional.  Proceed at your own peril.</strong></div>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span> 
        Sign in!
      </a>
    </p>
  </div>
{{/if}}
